.quote-icon {
  background-image: url(../images/sprite.png);
  background-position: -89px -63px;
  width: 28px;
  height: 20px;
}
.time-icon {
  background-image: url(../images/sprite.png);
  background-position: -122px -63px;
  width: 17px;
  height: 17px;
}
.visa-logo {
  background-image: url(../images/sprite.png);
  background-position: -89px 0px;
  width: 92px;
  height: 58px;
}
.wheel-icon_ {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 84px;
  height: 85px;
}
.windows-store-icon {
  background-image: url(../images/sprite.png);
  background-position: 0px -90px;
  width: 33px;
  height: 31px;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 10px;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
ul[class],
ol[class] {
  padding: 0;
}
ul[class] {
  list-style: none;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
img {
  display: block;
  width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}
input,
button,
textarea,
select {
  font: inherit;
}
button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
}
body {
  color: #242121;
  font: 300 1rem 'Roboto Condensed', sans-serif;
  font-style: normal;
  letter-spacing: 0.6px;
  margin: 0 auto;
  max-width: 1920px;
}
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  content: '';
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
.slick-dots {
  bottom: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.slick-dots button {
  background: #fff;
  border-radius: 50%;
  font-size: 0;
  height: 15px;
  padding: 0;
  width: 15px;
}
.slick-dots li + li {
  margin-left: 15px;
}
.slick-dots .slick-active button {
  background: #00b2a0;
}
.container {
  margin: 0 auto;
  max-width: 1210px;
  padding: 0 5px;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.justify-content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.justify-content-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.justify-content-space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.sm-title {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.8rem;
}
.md-title {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 4rem;
}
.lg-title {
  font-size: 6.4rem;
  font-weight: bold;
  line-height: 7.5rem;
}
.text {
  font-size: 1.4rem;
  line-height: 1.8rem;
}
.md-text {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.2rem;
}
.bg-gray {
  background-color: #f8f8f8;
}
.btn {
  border: 1px solid #c4c4c4;
  display: block;
  padding: 24px 91px;
}
.btn--green:hover {
  color: #00b2a0;
}
.inner {
  padding: 200px 0;
}
.header {
  max-height: 1080px;
}
.header--wrapper {
  background: url('../images/header-bg.jpg') center/cover no-repeat;
  min-height: 100vh;
}
.header .fixed-wrapper {
  background: transparent;
  left: 0;
  position: fixed;
  right: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  z-index: 99;
}
.header__menu {
  margin: 0 auto;
  max-width: 1210px;
  padding: 35px 0;
  position: relative;
}
.header__btn {
  display: none;
  width: 60px;
}
.header__btn path {
  fill: #fff;
}
.header__content {
  height: 100%;
  max-height: 100vh;
  padding-top: 322px;
}
.header__content-title {
  color: #0d302c;
  font-family: 'Raleway', sans-serif;
  font-size: 20rem;
  font-weight: 700;
  line-height: 23.5rem;
}
.header__content-desc {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.8rem;
  margin-bottom: 315px;
}
.header__content-button {
  padding-bottom: 90px;
  width: 20px;
}
.menu {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.8rem;
  margin: 0 auto;
}
.menu__item + .menu__item {
  padding-left: 45px;
}
.menu__item-link {
  color: inherit;
}
.title {
  color: #01353e;
  font-family: 'Raleway', sans-serif;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 5.6rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}
.title::after {
  color: #00b2a0;
  content: '/';
  font-size: 7.2rem;
  line-height: 8.45rem;
  position: absolute;
  top: 3px;
}
.about__desc {
  -webkit-column-gap: 95px;
  -moz-column-gap: 95px;
  column-gap: 95px;
  padding-top: 100px;
}
.about__desc-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.about__desc-text {
  height: 100%;
  max-height: 87px;
}
.about__desc-text + .about__desc-text {
  margin-top: 30px;
}
.about .title {
  padding-right: 15px;
}
.bonus__title {
  padding-bottom: 100px;
}
.bonus__list-item {
  -ms-flex-item-align: end;
  align-self: flex-end;
}
.bonus__list-item-title {
  margin-left: 10px;
  max-width: 155px;
  text-transform: uppercase;
}
.bonus__list-item-desc {
  margin-top: 10px;
  width: 350px;
}
.bonus__wawe {
  -webkit-column-gap: 255px;
  -moz-column-gap: 255px;
  column-gap: 255px;
  padding-top: 100px;
}
.bonus__wawe-stats {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 350px;
  flex: 0 0 350px;
}
.bonus__wawe-stats-item {
  margin-bottom: 10px;
}
.bonus__wawe-stats-title {
  margin-left: 10px;
}
.bonus__wawe-aside-text + .bonus__wawe-aside-text {
  margin-top: 30px;
}
.serfing__inner {
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
  padding-left: 10px;
}
.serfing-article {
  max-width: 560px;
  width: 50%;
}
.serfing-article-desc {
  max-width: 507px;
}
.serfing-article-text {
  margin-bottom: 30px;
}
.serfing-title {
  margin-top: 60px;
  padding-bottom: 100px;
  text-align: start;
}
.serfing__image {
  -ms-flex-negative: 2;
  flex-shrink: 2;
}
.gallery__title {
  padding-bottom: 200px;
}
.gallery__nav-list-item {
  margin-right: 20px;
}
.gallery__nav-link:hover {
  color: #00b2a0;
}
.gallery__images {
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
  margin-top: 50px;
}
.gallery__item {
  margin-bottom: 40px;
  margin-right: 25px;
  position: relative;
}
.gallery__item:nth-child(3n + 3):nth-child(-n + 6) {
  margin-right: 0;
}
.gallery__item-link {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.gallery__item-link:hover {
  background-color: rgba(36, 33, 33, 0.5);
}
.gallery__btn {
  margin: 50px auto 0;
}
.blockquote {
  font-style: italic;
  padding: 80px 10px 60px;
  text-align: center;
}
.blockquote__body {
  margin: 0 auto;
  max-width: 575px;
}
.blockquote__footer {
  padding-right: 165px;
  text-align: right;
}
.statistic__video {
  margin-bottom: 200px;
}
.statistic .inner {
  padding-bottom: 0;
}
.video {
  min-height: 600px;
}
.video--bg {
  background: url('../images/video-bg.jpg') center/cover no-repeat;
}
.video__link {
  margin: auto;
}
.numbers {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}
.numbers__item {
  padding-top: 5px;
  text-align: center;
}
.blog {
  padding-top: 200px;
}
.blog__slider-item {
  background: url('../images/serfing-blog-bg.jpg') center/cover no-repeat;
  height: 800px;
  position: relative;
}
.blog__slider-item::before {
  background-color: rgba(36, 33, 33, 0.5);
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
.blog__slider-item-body {
  color: #fff;
  margin-left: auto;
  margin-top: 314px;
  max-width: 600px;
  position: relative;
  z-index: 9;
}
.blog__slider-item-title {
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 5.6rem;
  text-transform: uppercase;
}
.blog .inner {
  padding-bottom: 70px;
}
.team {
  padding-top: 130px;
}
.team__group {
  -webkit-column-gap: 105px;
  -moz-column-gap: 105px;
  column-gap: 105px;
}
.team__group-item {
  text-align: center;
}
.team__group-item-desc {
  margin-top: 25px;
}
.team__group-item-title {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  margin-bottom: 5px;
}
.team__group-item-text {
  font-weight: normal;
}
.price__title {
  margin-bottom: 200px;
}
.price__list {
  -webkit-column-gap: 60px;
  -moz-column-gap: 60px;
  column-gap: 60px;
}
.price__list-item {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 45px 42px;
}
.price__list-item-title {
  margin-bottom: 60px;
  text-align: center;
}
.price__list-item-list {
  min-height: 286px;
}
.price__list-item-text + .price__list-item-text {
  padding-top: 20px;
}
.price__list-item-footer {
  margin-top: 60px;
}
.price__list-item-currency {
  padding-left: 5px;
}
.contact__map {
  margin-left: auto;
  margin-right: auto;
  width: 77%;
}
.contact__main {
  margin-bottom: 200px;
}
.contact__form {
  padding-right: 30px;
  width: 570px;
}
.contact__form-field {
  border: none;
  border-bottom: 2px solid #dadada;
  display: block;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.8rem;
  margin-bottom: 16px;
  padding: 16px 0;
  width: 100%;
}
.contact__form-field:first-child {
  padding-top: 0;
}
.contact__form-field--lg {
  min-height: 200px;
  padding-top: 39px;
  resize: none;
}
.contact__form-field::-webkit-input-placeholder {
  color: #00b2a0;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.8rem;
}
.contact__form-field::-moz-placeholder {
  color: #00b2a0;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.8rem;
}
.contact__form-field:-ms-input-placeholder {
  color: #00b2a0;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.8rem;
}
.contact__form-field::-ms-input-placeholder {
  color: #00b2a0;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.8rem;
}
.contact__form-field::placeholder {
  color: #00b2a0;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.8rem;
}
.contact__form-submit {
  margin-top: 54px;
}
.contact__help {
  width: 600px;
}
.contact__help-inner {
  padding-bottom: 70px;
  padding-left: 50px;
  padding-top: 50px;
}
.contact__help-section + .contact__help-section {
  padding-top: 65px;
}
.contact__help-text {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3rem;
}
.contact__footer {
  text-align: center;
}
.contact__footer-link + .contact__footer-link {
  margin-left: 10px;
}
.contact__footer-link:hover {
  color: #00b2a0;
}
.footer {
  background-color: #00b2a0;
}
.footer__logo {
  margin: auto;
  padding: 70px 0;
}
@media (max-width: 1250px) {
  .header__content-title {
    font-size: 17rem;
    line-height: 19rem;
  }
  .header__content-desc {
    margin-bottom: 260px;
  }
  .header__logo {
    margin-left: 30px;
  }
  .inner {
    padding: 160px 0 100px;
  }
  .serfing-title {
    font-size: 4rem;
    line-height: 5rem;
    text-align: center;
  }
  .serfing-article-desc {
    max-width: 466px;
  }
  .gallery__title {
    padding-bottom: 160px;
  }
  .gallery__nav-list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .gallery__item {
    margin: 30px auto;
    width: 48%;
  }
  .gallery__item:nth-child(3n + 3):nth-child(-n + 6) {
    margin-right: auto;
  }
}
@media (max-width: 1100px) {
  .about__desc {
    display: block;
  }
  .about__desc-text {
    height: auto;
    max-height: none;
    padding: 0 10px;
  }
  .about .text {
    font-size: 2rem;
  }
  .title {
    font-size: 4rem;
    line-height: 5rem;
  }
  .bonus__list {
    display: block;
  }
  .bonus__list-item {
    padding: 30px 0;
  }
  .bonus__list-item-title {
    max-width: none;
  }
  .bonus__list-item-header {
    margin-bottom: 20px;
  }
  .bonus__list-item-desc {
    margin: 10px auto;
    width: 100%;
  }
  .bonus__wawe {
    display: block;
  }
  .bonus__wawe-stats-item {
    padding: 20px 10px;
  }
  .bonus__wawe-aside {
    margin-top: 100px;
  }
  .text {
    font-size: 2rem;
    line-height: 2.5rem;
    padding: 0 10px;
  }
  .serfing__inner {
    display: block;
    padding-right: 10px;
  }
  .serfing-title {
    margin-top: 130px;
  }
  .serfing-article {
    max-width: none;
    width: 100%;
  }
  .serfing-article-desc {
    max-width: none;
    width: 100%;
  }
  .serfing__image {
    margin-top: 65px;
  }
  .gallery__title {
    padding-bottom: 100px;
  }
  .gallery__item {
    margin: 10px auto;
  }
  .team__group {
    -webkit-column-gap: 50px;
    -moz-column-gap: 50px;
    column-gap: 50px;
  }
  .price__title {
    margin-bottom: 100px;
  }
  .price__list {
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
  }
  .price__list-item {
    padding: 25px 20px;
  }
  .contact__map {
    width: 90%;
  }
}
@media (max-width: 900px) {
  .header__menu {
    padding: 10px 0;
  }
  .header__content {
    padding-top: 205px;
  }
  .header__content-title {
    font-size: 14rem;
    line-height: 16rem;
  }
  .header__content-desc {
    margin-bottom: 200px;
  }
  .header .menu {
    background-color: #fff;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: -600px;
    -webkit-transition: top 0.2s;
    transition: top 0.2s;
  }
  .header .menu__list {
    display: block;
    padding: 15px 0;
    text-align: center;
  }
  .header .menu__item {
    color: #01353e;
    padding: 20px 0;
  }
  .header .menu__item-link {
    display: block;
  }
  .header .menu--active {
    top: 99%;
  }
  .header__btn {
    display: block;
    margin-right: 30px;
  }
  .header__btn path {
    fill: #fff;
  }
  .title {
    font-size: 3.5rem;
    line-height: 4.5rem;
  }
  .title::after {
    font-size: 6rem;
    line-height: 7rem;
  }
  .inner {
    padding: 130px 0;
  }
  .blog__slider-item {
    height: 100%;
    min-height: calc(100vh - 85px);
  }
  .blog__slider-item-body {
    background-color: #01353eb0;
    padding: 15px 0;
  }
  .price__list {
    display: block;
  }
  .price__list-item {
    margin: 15px;
  }
  .price__list-item + .price__list-item {
    margin-top: 30px;
  }
  .price .inner {
    padding-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .header__content-title {
    font-size: 11rem;
    line-height: 13rem;
  }
  .header__content {
    padding-top: 230px;
  }
  .title {
    font-size: 3rem;
    line-height: 4rem;
  }
  .title::after {
    font-size: 4rem;
    line-height: 5rem;
  }
  .inner {
    padding: 100px 0;
  }
  .about .title {
    font-size: 2rem;
    line-height: 3rem;
  }
  .about .title::after {
    font-size: 3rem;
    line-height: 4rem;
  }
  .about__desc {
    padding-top: 60px;
  }
  .blockquote__footer {
    padding: 10px;
    text-align: center;
  }
  .statistic__video {
    margin-bottom: 80px;
  }
  .statistic__numbers {
    display: block;
  }
  .video {
    min-height: 300px;
  }
  .numbers__item {
    padding-top: 50px;
  }
  .blog {
    padding-top: 130px;
  }
  .blog__slider-item {
    height: 600px;
  }
  .blog__slider-item-body {
    margin-top: 214px;
  }
  .blog__slider-item-title {
    font-size: 3.8rem;
    line-height: 4.6rem;
    text-align: center;
  }
  .blog__slider-item-subtitle {
    padding-top: 15px;
  }
  .blog .inner {
    padding-bottom: 0;
  }
  .team__group {
    -webkit-column-gap: 25px;
    -moz-column-gap: 25px;
    column-gap: 25px;
  }
  .contact__map {
    display: none;
  }
  .contact .inner {
    padding: 50px 0;
  }
  .contact__main {
    display: block;
    margin-bottom: 50px;
  }
  .contact__form {
    max-width: none;
    padding: 0 10px;
    width: 100%;
  }
  .contact__form-submit {
    margin: 30px auto;
  }
  .contact__help {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .header__logo {
    margin-left: 15px;
  }
  .header__btn {
    margin-right: 15px;
  }
  .header__content-title {
    font-size: 7rem;
    line-height: 9rem;
  }
  .header__content-desc {
    text-align: center;
  }
  .title {
    font-size: 2rem;
    line-height: 3rem;
  }
  .title::after {
    font-size: 3rem;
    line-height: 4rem;
  }
  .sm-text {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .sm-title {
    font-size: 1.8rem;
    line-height: 2.6rem;
  }
  .md-title {
    font-size: 2.6rem;
    line-height: 3rem;
  }
  .lg-title {
    font-size: 4.4rem;
    line-height: 5.5rem;
  }
  .text {
    font-size: 1.6rem;
    line-height: 2rem;
  }
  .statistic__video {
    margin-bottom: 40px;
  }
  .gallery__title {
    padding-bottom: 60px;
  }
  .gallery__item {
    width: 95%;
  }
  .gallery__nav-list {
    display: block;
    text-align: center;
  }
  .gallery__nav-list-item {
    margin-right: 0;
    padding: 15px 0;
  }
  .gallery__nav-link {
    width: 100%;
  }
  .blog__slider-item-title {
    font-size: 3rem;
    line-height: 4rem;
  }
  .team__group {
    display: block;
  }
  .team__group-item {
    padding: 15px;
  }
  .team__group-item + .team__group-item {
    padding-top: 20px;
  }
  .contact__help-text {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
  .footer__logo {
    padding: 35px 0;
  }
}
@media (max-width: 410px) {
  .gallery__btn {
    margin: 25px auto 0;
  }
  .btn {
    padding: 12px 46px;
  }
  .about .title {
    padding-left: 10px;
  }
  .about .title::after {
    top: 30px;
  }
  .about__desc {
    padding-top: 40px;
  }
  .blog__slider-item {
    height: 350px;
  }
  .blog__slider-item-body {
    margin-top: 80px;
  }
  .slick-dots {
    bottom: 45px;
  }
  .contact__help-section + .contact__help-section {
    padding-top: 25px;
  }
}
@media (min-height: 700px) {
  .header__content {
    padding-top: 155px;
  }
  .header__content-desc {
    margin-bottom: 185px;
  }
}
@media (min-height: 800px) {
  .header__content {
    padding-top: 200px;
  }
  .header__content-desc {
    margin-bottom: 230px;
  }
}
@media (min-height: 900px) {
  .header--wrapper {
    min-height: auto;
  }
  .header__content {
    padding-top: 270px;
  }
  .header__content-desc {
    margin-bottom: 300px;
  }
}
@media (max-height: 700px) {
  .header__content {
    padding-top: 145px;
  }
  .header__content-desc {
    margin-bottom: 180px;
  }
  .blog__slider-item {
    height: 100%;
    min-height: calc(100vh - 85px);
  }
}
@media (max-height: 620px) {
  .header__content {
    padding-top: 170px;
  }
  .header__content-button {
    width: 15px;
  }
  .blog__slider-item-body {
    margin-top: 145px;
  }
}
@media (max-height: 525px) {
  .header .menu.menu--active .menu__item {
    padding: 12px 0;
  }
  .header__content {
    padding-top: 140px;
  }
  .header__content-desc {
    margin-bottom: 75px;
  }
  .blog__slider-item-body {
    margin-top: 100px;
  }
  .blog__slider .slick-dots {
    bottom: 50px;
  }
}
@media (max-height: 430px) {
  .header .menu.menu--active .menu__item {
    padding: 10px 0;
  }
  .header .menu.menu--active .menu__item-link {
    font-size: 1.6rem;
    line-height: 1.8rem;
  }
  .header__content {
    padding-top: 75px;
  }
  .header__content-desc {
    margin-bottom: 45px;
    text-shadow: #fff 4px 2px 10px;
  }
  .blog__slider-item-title {
    font-size: 2.8rem;
    line-height: 3rem;
  }
  .blog__slider-item-subtitle {
    padding-top: 10px;
  }
  .blog__slider-item-body {
    margin-top: 60px;
  }
  .blog__slider .slick-dots {
    bottom: 25px;
  }
}
@media (max-height: 330px) {
  .header__btn {
    height: 50px;
  }
  .header__menu {
    padding: 5px 0;
  }
  .header__menu-logo {
    height: 50px;
    width: 50px;
  }
  .header__content-title {
    font-size: 9rem;
    line-height: 11rem;
  }
  .header .menu.menu--active .menu__list {
    padding: 10px 0;
  }
  .header .menu.menu--active .menu__item {
    padding: 10px 0;
  }
  .header .menu.menu--active .menu__item-link {
    font-size: 1.6rem;
    line-height: 1.8rem;
  }
}
