.header {
  max-height: 1080px;

  &--wrapper {
    background: url('../images/header-bg.jpg') center/cover no-repeat;
    min-height: 100vh;
  }

  .fixed-wrapper {
    background: transparent;
    left: 0;
    position: fixed;
    right: 0;
    transition: all 0.4s;
    z-index: 99;
  }

  &__menu {
    margin: 0 auto;
    max-width: 1210px;
    padding: 35px 0;
    position: relative;
  }

  &__btn {
    display: none;
    width: 60px;

    path {
      fill: #fff;
    }
  }

  &__content {
    height: 100%;
    max-height: 100vh;
    padding-top: 322px;

    &-title {
      color: #0d302c;
      font-family: $title-font;
      font-size: 20rem;
      font-weight: 700;
      line-height: 23.5rem;
    }

    &-desc {
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 2.8rem;
      margin-bottom: 315px;
    }

    &-button {
      padding-bottom: 90px;
      width: 20px;
    }
  }
}

.menu {
  color: $text-white;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.8rem;
  margin: 0 auto;

  &__item {
    & + & {
      padding-left: 45px;
    }

    &-link {
      color: inherit;
    }
  }
}

.title {
  color: $text-dark;
  font-family: $title-font;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 5.6rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;

  &::after {
    color: $green;
    content: '/';
    font-size: 7.2rem;
    line-height: 8.45rem;
    position: absolute;
    top: 3px;
  }
}

.about {
  &__desc {
    // column-count: 2;
    column-gap: 95px;
    // padding-right: 105px;
    padding-top: 100px;

    &-col {
      display: flex;
      flex-wrap: wrap;
      // max-width: 480px;
    }

    &-text {
      height: 100%;
      max-height: 87px;

      & + & {
        margin-top: 30px;
      }
    }
  }

  .title {
    padding-right: 15px;
  }
}

.bonus {
  &__title {
    padding-bottom: 100px;
  }

  &__list {
    &-item {
      align-self: flex-end;

      &-title {
        margin-left: 10px;
        max-width: 155px;
        text-transform: uppercase;
      }

      &-desc {
        margin-top: 10px;
        width: 350px;
      }
    }
  }

  &__wawe {
    column-gap: 255px;
    padding-top: 100px;

    &-stats {
      flex: 0 0 350px;

      &-item {
        margin-bottom: 10px;
      }

      &-title {
        margin-left: 10px;
      }
    }

    &-aside-text {
      & + & {
        margin-top: 30px;
      }
    }
  }
}

.serfing {
  &__inner {
    column-gap: 40px;
    padding-left: 10px;
  }

  &-article {
    max-width: 560px;
    // left: 0;
    // padding-top: 200px;
    width: 50%;

    &-desc {
      max-width: 507px;
    }

    &-text {
      margin-bottom: 30px;
    }
  }

  &-title {
    margin-top: 60px;
    padding-bottom: 100px;
    text-align: start;
  }

  &__image {
    flex-shrink: 2;
  }
}

.gallery {
  &__title {
    padding-bottom: 200px;
  }

  &__nav {
    &-list-item {
      margin-right: 20px;
    }

    &-link {
      &:hover {
        color: $green;
      }
    }
  }

  &__images {
    column-gap: 15px;
    margin-top: 50px;
  }

  &__item {
    margin-bottom: 40px;
    margin-right: 25px;
    position: relative;

    &:nth-child(3n + 3):nth-child(-n + 6) {
      margin-right: 0;
    }

    &-link {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;

      &:hover {
        background-color: rgba(36, 33, 33, 0.5);
      }
    }
  }

  &__btn {
    margin: 50px auto 0;
  }
}

.blockquote {
  font-style: italic;
  padding: 80px 10px 60px;
  text-align: center;

  &__body {
    margin: 0 auto;
    max-width: 575px;
  }

  &__footer {
    padding-right: 165px;
    text-align: right;
  }
}

.statistic {
  &__video {
    margin-bottom: 200px;
  }

  .inner {
    padding-bottom: 0;
  }
}

.video {
  min-height: 600px;

  &--bg {
    background: url('../images/video-bg.jpg') center/cover no-repeat;
  }

  &__link {
    margin: auto;
  }
}

.numbers {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;

  &__item {
    padding-top: 5px;
    text-align: center;
  }
}

.blog {
  padding-top: 200px;

  &__slider {
    &-item {
      background: url('../images/serfing-blog-bg.jpg') center/cover no-repeat;
      height: 800px;
      position: relative;

      &::before {
        background-color: rgba(36, 33, 33, 0.5);
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
      }

      &-body {
        color: $text-white;
        margin-left: auto;
        margin-top: 314px;
        max-width: 600px;
        position: relative;
        z-index: 9;
      }

      &-title {
        font-size: 4.8rem;
        font-weight: 400;
        line-height: 5.6rem;
        text-transform: uppercase;
      }
    }
  }

  .inner {
    padding-bottom: 70px;
  }
}

.team {
  padding-top: 130px;

  &__group {
    column-gap: 105px;

    &-item {
      text-align: center;

      &-desc {
        margin-top: 25px;
      }

      &-title {
        font-size: 1.8rem;
        font-weight: bold;
        line-height: 1.8rem;
        margin-bottom: 5px;
      }

      &-text {
        font-weight: normal;
      }
    }
  }
}

.price {
  &__title {
    margin-bottom: 200px;
  }

  &__list {
    column-gap: 60px;

    &-item {
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 45px 42px;

      &-title {
        margin-bottom: 60px;
        text-align: center;
      }

      &-list {
        min-height: 286px;
      }

      &-text + &-text {
        padding-top: 20px;
      }

      &-footer {
        margin-top: 60px;
      }

      &-currency {
        padding-left: 5px;
      }
    }
  }
}

.contact {
  &__map {
    margin-left: auto;
    margin-right: auto;
    width: 77%;
  }

  &__main {
    margin-bottom: 200px;
  }

  &__form {
    padding-right: 30px;
    width: 570px;

    &-field {
      border: none;
      border-bottom: 2px solid #dadada;
      display: block;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.8rem;
      margin-bottom: 16px;
      padding: 16px 0;
      width: 100%;

      &:first-child {
        padding-top: 0;
      }

      &--lg {
        min-height: 200px;
        padding-top: 39px;
        resize: none;
      }

      &::placeholder {
        color: $green;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.8rem;
      }
    }

    &-submit {
      margin-top: 54px;
    }
  }

  &__help {
    width: 600px;

    &-inner {
      padding-bottom: 70px;
      padding-left: 50px;
      padding-top: 50px;
    }

    &-section + &-section {
      padding-top: 65px;
    }

    &-text {
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 3rem;
    }
  }

  &__footer {
    text-align: center;

    &-link {
      & + & {
        margin-left: 10px;
      }

      &:hover {
        color: $green;
      }
    }
  }
}

.footer {
  background-color: $green;

  &__logo {
    margin: auto;
    padding: 70px 0;
  }
}
